<footer>
	<a href="https://www.linkedin.com/in/tiffany-c-lee/" target="_blank"><img class="social" src="/assets/images/linkedin.png" alt="linkedin"></a>
	<a href="https://github.com/tiffclee" target="_blank"><img class="social" src="/assets/images/github.png" alt="github"></a>
	<a href="mailto:lee.tiffany00@gmail.com" target="_blank"><img class="social" src="/assets/images/mail.png" alt="email"></a>
	<p class="footerinfo">website designed and coded by Tiffany Lee (me!)<br>
	graphics and art created by Tiffany Lee (me again!)</p>
</footer>