.current {
  color: green;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	margin: 0;
}

.content {
	padding: 20px 100px;
	display: block;
	color: #535353;
	a {
		display: inline-block;
		padding: 20px 40px;
		background-color: #7290FA;
		text-decoration: none;
		font-size: 20px;
		border-radius: 10px;
		color: white;
	}
	a:hover {
		background-color: white;
		color: #7290FA;
		border: solid;
		padding: 16px 36px;
	}
}

.navigation {
	background-image: linear-gradient(140deg, #7EFED6, #98DAFF, #7290FA);
	padding: 20px;
	text-align: center;
}

.title {
	color: white;
	font-size: 40px;
	padding: 20px;
}

.tabs {
	padding: 5px;
}

.tab {
	padding: 10px 20px;
	color: #526AEA;
	font-size: 20px;
	text-decoration: none;
}

.tab:hover {
	color: white;
	background-color: #7290FA;
	border-radius: 8px;
}

.current {
	color: white;
}

.introduction {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	grid-gap: 20px;
	grid-row: auto;
}

.intro {
	grid-column: 1 / span 6;
	width: 100%;
}

.intropic {
	grid-column: 8 / span 5;
	width: 100%;
}

.me {
	width: 100%;
	border-radius: 50%;
}

footer {
	bottom: 0;
	align-items: center;
	height: 100%;
	padding: 20px 20px;
	background-color: #7290FA;
	text-align: center;
}

.social {
	width: 40px;
	padding: 10px;
}

.footerinfo {
	color: white;
	font-size: 12px;
}

.project {
	text-align: center;
}

.projectimage {
	width: 300px;
	border-radius: 10px;
}

.section {
	padding: 20px 0px;

	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	grid-gap: 20px;
	grid-row: auto;
	img {
		align-content: center;
		justify-content: center;
	}
}

.col2 {
	grid-column: span 6;
	width: 100%;
	border-radius: 10px;
}

.col3 {
	grid-column: span 4;
	width: 100%;
	border-radius: 10px;
}

.col4 {
	grid-column: span 3;
	width: 100%;
	border-radius: 10px;
}

.sectiontitle {
	grid-column: span 12;
	margin: 0;
}

.sectioninfo {
	grid-column: 2 / span 10;
	margin: 0;
}

.description {
	grid-column: 2 / span 10;
	margin: 0;
	text-align: center;
}

.design {
	align-content: center;
	justify-content: center;
}

.designtitle {
	background-color: white;
	display: inline-block;
	padding: 10px 30px;
	border-radius: 5px;
	margin: 0;
}

.designbody {
	background-color: #C4FDEB;
	display: inline-block;
	padding: 10px 30px;
	border-radius: 5px;
	margin: 0;
}

.slideshow {
	grid-column: span 12;
	position: relative;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #9AE7CF;
	border-radius: 10px;
}

.slides {
	display: none;
	padding: 20px;
}

.slideimage {
	border-radius: 10px;
	max-height: 500px;
	max-width: 100%;
}

.prev,
.next {
	border:none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: transparent;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	color: #333333;
	font-size: 30px;
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
	-ms-transform:translate(0%,-50%);
}

.prev {
	left: 0%;
}

.next {
	right: 0%;
}

.prev:hover,
.next:hover {
	color: #7290FA;
}

.photography {

}

.calligraphy {

}

.printing {

}

.misc {
}
